body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to bOttom right, #00f490, #00BBC9);
}

h1 {
    font-family: "Abril Fatface", serif;
}

.myJumbotron {    
    width: 100%;
    height: 350px;
    margin:auto;
    background-color: rgb(238, 232, 232);
    margin-top: 30px;
    margin-bottom: 150px;
    background-color: rgba(250, 235, 215, 0);
    
}

.drop-shadow {
    text-shadow: 0px 2px 2px black;
}

.lead {
    color: white;
    font-size: 2.2rem;
}

.btn-outline-light {
  border-color: white;

}

.btn-outline-light:hover {
   background-color: rgba(255, 255, 255, 0.201);
}

.yogurt {
    width:70%;
    margin:auto;
}


.menu {
    width: 90%;
    margin: auto;
}

.titolo {
    font-weight: bold;
    border-right: solid 1px rgb(208, 200, 200);
}

.opzioni {
    display: flex;
}




header {
    max-width: 1024px;
   /* background-color: blueviolet; */ 
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  
    
}


h1 {
    font-size: 100px;
}



a {
    color: white;
    text-decoration: none;
}



.mob-wrapper {
    display: none;
}










/* Tablet View */
@media (max-width: 768px){


nav a {
    display: block;
    
}

nav {
    display: none;
}


.mob-wrapper {
    display: block;
    padding-right: 30px;
}

.mob-nav {
    display: none;
    
}

.navbutton {
    display: block;
    background-color: rgb(70, 226, 163);
    padding: 15px 30px;
    margin-left: -70px;
    text-align: center;
}

.myJumbotron {
    margin-bottom: 350px;
}

.yogurt {
    width: 55%;
    margin:auto;
    display: flex;
}

.btn-primary , .btn-primary:hover {
    background-color: #00BBC9;
    border-color: #00BBC9;
}



}

/* Mobile View */

@media (max-width: 400px){

.col {
    width: 100%;
}

.hide-desktop-only {
    display: block;
}

.hide-mobile {
    display: none;
}




}























